{
	email {$ACME_EMAIL:admin@example.com}
}

{$WEB_DOMAIN:localhost} {
	encode zstd gzip
	request_body {
		max_size 96KB
	}
	reverse_proxy web:3000
}

{$RELAY_DOMAIN:relay.localhost} {
	reverse_proxy relay-guard:8080 {
		header_up X-Real-IP {remote_host}
	}
}
