{
	email {$ACME_EMAIL}
}

{$WEB_DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 96KB
	}
	reverse_proxy 127.0.0.1:3000
}

{$RELAY_DOMAIN} {
	reverse_proxy 127.0.0.1:8080 {
		header_up X-Real-IP {remote_host}
	}
}
